body {
  background: var(--background-color);
  color: var(--heading-color);
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  
  --primary-color: #3bc449;
  --primary-color-b1: #52cb5e;
  --secondary-color: #ef5d60;
  --background-color: #e3e3e3;
  --sidebar-background-color: #f5f5ff;
  --border-color: #dadada;
  --heading-color: #333333;
  --paragraph-color: #444444;
  --label-color: #777777;
}

h1 {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 15px;
}

p {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--paragraph-color);
}

button {
  border: 0;
  font-family: "IBM Plex Sans";
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.hint {
  height: 64px;
  border-radius: 10px;
  padding-left: 15px;
}

.hint-box {
  min-width: 42px;
  width: 42px;
  height: 42px;
  border-radius: 5px;
  margin-right: 20px;
  color: var(--sidebar-background-color);
  font-size: 18px;
  font-weight: 600;
}

.label {
  display: block;
}

.label-key {
  font-size: 14px;
  color: var(--label-color);
  margin-bottom: 6px;
}

.label-value {
  font-size: 28px;
  font-weight: 600;
  color: var(--heading-color);
}

.tile {
  /* background: linear-gradient(135deg, white 0%, white 50%, #2EDDDD 50%, #3F74F1 100%);
  background-size: 300% 300%; */
  background: white;
  border-radius: 5px;
  color: var(--heading-color);
  flex-basis: 120px;
  height: 120px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 120px;
  
  transition: all 0.35s cubic-bezier(.75,.25,.25,.75);
  transition-property: background box-shadow;
}

.tile:not(.revealed) {
  cursor: pointer;
}

.tile:not(.revealed):hover {
  /* background-position: -480px; */
  background: #2EDDDD;
  box-shadow: 0 8px 48px rgba(0, 0, 0, 0.5);
}

#blocker {
  background: #ffffff00;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  transition: all 0.3s ease-out;
}

#blocker.show {
  background: #3333337f;
  pointer-events: all;
}

#blocker-popup {
  position: absolute;
  width: 500px;
  height: 200px;
  background: white;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -100px;
  border-radius: 10px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
  padding: 10px 35px;
}

#blocker-popup > p {
  margin-top: 0;
  line-height: 26px;
}

#blocker-restart-button {
  background: #58B261;
  border-radius: 5px;
  color: var(--sidebar-background-color);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
}

#main {
  min-height: 100vh;
}

#board-container {
  width: 75%;
}

#tile-container {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  height: 74%;
}

#sidebar {
  background: var(--sidebar-background-color);
  line-height: 26px;
  padding: 40px 50px 40px 50px;
  width: 25%;
}

#hint-container {
  row-gap: 10px;
}

#score-container {
  margin-top: 30px;
  padding-top: 20px;
  row-gap: 20px;
  border-top: 1px solid var(--border-color);
}
