body {
  background: var(--background-color);
  color: var(--heading-color);
  font-family: "Nunito", sans-serif;
  
  --primary-color: #3bc449;
  --primary-color-b1: #52cb5e;
  --secondary-color: #ef5d60;
  --background-color: #f7f7f2;
  --border-color: #dadada;
  --heading-color: #333745;
  --paragraph-color: #4e546a;
  --label-color: #8a90a8;
}

h1::selection, h5::selection, p::selection, input::selection, span::selection,
th::selection, td::selection {
  color: var(--background-color);
  background: var(--primary-color);
}

h1 {
  font-size: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

h1, h5 {
  margin: 0;
}

h5 {
  font-size: 14px;
}

p {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--paragraph-color);
}

button {
  border: 0;
  cursor: pointer;
}

#main {
  display: flex;
  flex-direction: column;
  padding: 60px 320px 60px 320px;
}

#grade-header {
  margin-bottom: 20px;
}

#grade-intro-text {
  width: 1000px;
  line-height: 26px;
}

.side-by-side {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.delete-button {
  background-color: transparent;
  background-image: url("./delete_icon.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  transition: background-color 0.2s ease;
}

.delete-button:hover {
  background-color: #f0f0f0;
}

.span-label {
  color: var(--label-color);
  font-size: 14px;
}

.span-value {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.span-value-large {
  font-size: 24px;
}

.line-break {
  display: block;
}

#grade-container {
  margin-right: 60px;
  height: 100%;
  max-height: 600px;
}

#grade-results {
  width: 260px;
  height: 100%;
  max-height: 600px;
}

#grade-container, #grade-results {
  background: white;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 24px rgba(119, 119, 119, 0.15));
  padding: 35px 50px 35px 50px;
  overflow-y: auto;
}

#grade-semester-add-button, #grade-results-button {
  background: var(--primary-color);
  border-radius: 5px;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 0 10px 0;
  transition: background 0.2s ease;
}

#grade-semester-add-button {
  margin-top: 40px;
  width: 220px;
}

#grade-results-button {
  margin-top: 30px;
  width: 100%;
}

#grade-semester-add-button:hover, #grade-results-button:hover {
  background: var(--primary-color-b1);
}

.grade-table-wrapper {
  margin-bottom: 40px;
}

.grade-semester-title::after {
  display: block;
  border-top: 3px solid var(--primary-color);
  content: "";
  width: 30px;
  margin: 6px 0 20px 0;
}

.grade-semester-table {
  color: var(--paragraph-color);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  width: 530px;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 10px;
}

.grade-semester-table th {
  color: #a0a0a0;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  padding-bottom: 8px;
}

.grade-semester-table tr.content > td {
  padding-top: 8px;
  padding-bottom: 8px;
}

.wide {
  width: 50%;
}

.narrow {
  width: 18%;
}

.narrow-h2 {
  width: 14%;
}

.grade-semester-table tr.content:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.grade-semester-table td > input {
  border: 0;
  color: var(--paragraph-color);
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
  text-align: right;
  padding: 5px 0 5px 0;
  margin: 0;
  width: 95%;
}

.grade-semester-table td > input:hover, .grade-semester-table td > input:focus {
  color: var(--primary-color);
}

.grade-semester-table td > input:focus {
  padding: 5px 8px 5px 8px;
  outline: 2px solid var(--primary-color);
}

.grade-semester-table td > input.narrow {
  width: 30%;
}

/* .grade-semester-table td:not(:first-child) { */
.grade-semester-table td.right {
  padding-left: 10px;
}

/* .grade-semester-table td:not(:last-child) { */
.grade-semester-table td.left {
  padding-right: 10px;
}

th.left, td.left, td.left > input {
  text-align: left;
}

th.right, td.right, td.right > input{
  text-align: right;
}

th.center, td.center, td.center> input{
  text-align: center;
}

.grade-semester-table td.center {
  padding-left: 15px;
}

.grade-semester-table-button {
  background: transparent;
  color: var(--primary-color);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 12px;
  padding: 0;
}

#grade-results-table-container {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}

#grade-results-table {
  width: 100%;
}

#grade-results-table td {
  padding-top: 4px;
  padding-bottom: 4px;
}

#grade-result-circle {
  margin-top: 40px;
  text-align: center;
}

#grade-result-circle-svg {
  stroke-linecap: round;
  transform: rotate(150deg);
  transform-origin: 50% 50%;
}

#grade-overall-result {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 53px;
}
